<div class="about">
    <h2>About Tsumego Solver</h2>
    <p>
        Tsumego Solver is an application designed to help Go players enhance their skills through solving Tsumego problems.
        Tsumego are life-and-death problems in the game of Go, and solving them sharpens strategic thinking and problem-solving abilities.
    </p>
    <p>
        There are many excellent Tsumego apps available online, such as
        <a href="https://www.goproblems.com/" target="_blank">GoProblems.com</a>,
        <a href="https://tsumego-hero.com/" target="_blank">Tsumego Hero</a>,
        <a href="https://www.101weiqi.com/" target="_blank">101weiqi</a>, and
        <a href="https://gomagic.org/" target="_blank">Go Magic</a>.
        So, why create another one? Many existing apps often encourage a suboptimal practice:
        solving problems by trial and error. It's crucial to solve a problem by thoroughly reading it out, rather than just trying a move.
    </p>
    <p>
        What sets Tsumego Solver apart is its unique approach. You can't play out the Tsumego problems here. Instead, you can only click 'solvable' or 'impossible'.
        This method fosters proper problem-solving techniques by requiring you to fully read and understand the solution before making a decision.
    </p>
    <p>
        We require you to log in primarily to spot which problems are too easy or hard. As a bonus, logging in also allows you to show your progress over time.
    </p>
    <p>
        We use Google accounts for login to avoid the hassle of managing passwords and to provide a secure, streamlined login process.
    </p>
    <p>
        Most of the problems featured here are sourced from <a href="https://www.goproblems.com/" target="_blank">GoProblems.com</a>.
        We are deeply grateful to them for their generous sharing policy.
    </p>
</div>
