<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tsumego Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Tsumego Portal</h1>
    </div>
    <div class="content">
        <h2>You must be logged in using Google to use this app.</h2>
        <div id="google-sign-in"></div>
        {% include 'about_text.html' %}
    </div>
    {% include 'footer.html' %}

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            const data = JSON.parse(atob(response.credential.split('.')[1])); // Decode JWT payload

            const name = data.name;
            const email = data.email;
            const profilePicUrl = data.picture;

            // Send the user's profile information to your Flask backend
            fetch('{{ url_for("main.google_login", _external=True, _scheme="https") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    user_info: {
                        name: name,
                        email: email,
                        profilePicUrl: profilePicUrl
                    }
                })
            })
            .then(response => {
                if (response.ok) {
                    console.log("Login successful, redirecting...");
                    window.location.href = '{{ url_for("main.dashboard") }}';
                } else {
                    console.error('Error during sign-in:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error during sign-in:', error);
            });
        }

        window.onload = function () {
            google.accounts.id.initialize({
                client_id: '{{ google_client_id }}',
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById('google-sign-in'),
                { theme: 'outline', size: 'large' }
            );
        }
    </script>
</body>
</html>
