<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Privacy Policy</h1>
    </div>
    {% include 'nav.html' %}
    <div class="content">
        <p>The developers of Tsumego Solver take your privacy seriously. This privacy policy outlines how we collect, use, and protect your personal information.</p>

        <h2>Information We Collect</h2>
        <p>When you use our application, we collect your email address, which is used solely for the purpose of monitoring your progress and identifying potential cheating activities.</p>

        <h2>How We Use Your Information</h2>
        <p>The email address you provide is used to track your statistics, such as the problems you've attempted and your success or failure rates. This information is used to enhance your learning experience and provide personalized feedback.</p>
        <p>We may also use your email address to identify potential cheating activities, such as attempting to gain an unfair advantage or violating the terms of service.</p>

        <h2>Data Security</h2>
        <p>We implement reasonable security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.</p>

        <h2>Third-Party Services</h2>
        <p>We do not share your personal information with third-party services or advertisers.</p>

        <h2>Changes to This Policy</h2>
        <p>We may update this privacy policy from time to time. Any changes will be posted on this page, and we encourage you to review this policy periodically.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our privacy policy, please contact us at lakeland@gmail.com.</p>
    </div>
    {% include 'footer.html' %}
</body>
</html>
